<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>OFSAI Image Annotator</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body bgcolor="#cccccc">
        <link rel="stylesheet" type="text/css" href="/static/image_annotator.css">
        <script>
            var numClasses = {{numClasses}};
            var classColours = {{class_colours|safe}};
        </script>
        <script src="/static/image_annotator.js"></script>

        <table class="layout" cellspacing="0" cellpadding="0">
            <tr>
                <td bgcolor="#0066ff" style="height: 60px; width: auto;">
                    <button onclick="refresh()" class='menu'>New</button>
                    <button onclick="saveImage()" class='menu'>Save</button>
                </td>
                <td bgcolor="#0066ff" style="height: 60px; width: auto;" align="center">
                    <button class='menu' onclick="center(); refreshSVG()">Recenter</button>
                    {%if show_download%}<button class='menu' onclick="window.open('{{download_route}}', '_blank');">Download</button>{%endif%}
                </td>
                <td bgcolor="#0066ff" align="right" style="height: 60px; width: auto;">
                    <button class='menu' onclick="document.getElementById('shortcuts').style.display = 'table'">Help</button>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <table style="width: 100%; height: 100%; table-layout: fixed; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="width: 220px; background: white; overflow: hidden;" valign="top">
                                <div style="width: 100%; height: 100%; overflow-x: auto;" id="annotationContainer">
                                    {% for label, colour, index in labels %}
                                    <button onclick="selectAnnotationIndex({{index}})" class="label-button" color="{{colour}}" style="color: {{colour}};">{{label}}</button>
                                    {%endfor%}
                                </div>
                            </td>
                            <td style="width: auto;">
                                <div id="svgContainer" draggable="false">
                                    <svg id="svg"></svg>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table id="shortcuts">
            <tr>
                <td align="center">
                    <table id="helpDialog" cellpadding="10">
                        <tr>
                            <td><b>Shortcuts</b></td>
                            <td><button onclick="document.getElementById('shortcuts').style.display = 'none'">X</button></td>
                        </tr>
                        <tr>
                            <td>
                                <ul style="list-style-type: none;">
                                    <li><b>Drag/Draw Annotation</b></li><li>&emsp;Left Click + Move Mouse</li>
                                    <li><b>Drag View</b></li><li>&emsp;Right Click, Move Mouse</li><li>&emsp;Shift + Left Click + Move Mouse</li>
                                    <li><b>Save Image</b></li> <li>&emsp;S</li><li>&emsp;Enter</li>
                                    <li><b>New Image</b></li><li>&emsp;N</li><li>&emsp;Space</li>
                                    <li><b>Recenter Image</b></li><li>&emsp;R</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>